NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_STOCKSTREAM_MARKET_ADDRESS=
NEXT_PUBLIC_STOCKSTREAM_MARKET_SYMBOL=AAPL-PERP
NEXT_PUBLIC_STOCKSTREAM_MARKET_API_URL=
NEXT_PUBLIC_STOCKSTREAM_SETTLEMENT_SCRATCH_ADDRESS=
NEXT_PUBLIC_STOCKSTREAM_COLLATERAL_MINT=
NEXT_PUBLIC_STOCKSTREAM_TOKEN_PROGRAM=TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
NEXT_PUBLIC_STOCKSTREAM_VAULT=
NEXT_PUBLIC_STOCKSTREAM_VAULT_AUTHORITY=
PRIVY_APP_SECRET=
PYTH_PRO_API_KEY=
PYTH_PRO_FEED_ID=
PYTH_PRO_ENDPOINTS=
SOLANA_RPC_URL=
MAGIC_ROUTER_URL=
MAGICBLOCK_VALIDATOR=
KEEPER_PUBLIC_KEY=
